# ===== IDE / Editor history =====
**/.history/

# ===== Java =====
*.class
*.log

# ===== Maven =====
target/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# ===== Gradle (se algum dia usar) =====
.gradle/
build/

# ===== IDEs =====
# IntelliJ
.idea/
*.iml
out/

# Eclipse / STS
.classpath
.project
.settings/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Environment / Local configs =====
*.env
application-local.yml
application-dev.yml

# ===== Archives =====
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# ===== JVM crash =====
hs_err_pid*
replay_pid*